<header>
	<nav class="be-red white large-padding">
		<ul class="no-list row center-xs middle-xs">
			<li class="col-md">
				<h1 id="logo"><%= link_to "Art Semantic", root_path, class:"no-subrayado" %></h1>
			</li>
			<li class="col-md">
				<%= link_to "Instancias", instance_index_path %>
			</li>
			<li class="col-md">
				<%= link_to "Clases", class_index_path %>
			</li>
			<li class="col-md">
				<%= link_to "Propiedades", property_index_path %>
			</li>
			<li class="col-md">
				<%= link_to "Libre", artist_index_path %>
			</li>						
		</ul>
	</nav>  
</header>